@font-face{
	font-family: 'ProximaNova';
	src: url(../fonts/ProximaNova/ProximaNova-Reg_6.otf);
}

@font-face{
	font-family: 'Raleway';
	src: url(../fonts/Raleway/ralewaylight.ttf);
}

@font-face{
	font-family: 'RalewayBold';
	src: url(../fonts/Raleway/ralewaybold.woff);
}

@font-face{
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova/ProximaNova-LightIt_6.otf);
}

@font-face{
	font-family: 'ProximaBold';
	src: url(../fonts/ProximaNova/ProximaNova-RegIt_6.otf);
}